.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7f77b4;
  padding: 1rem;
  color: white;
  flex-wrap: wrap;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: auto;
  margin-right: 1rem;
}

.logo-text h1 {
  margin: 0;
  font-size: 1.5rem;
}

.logo-text p {
  margin: 0;
  font-size: 0.9rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.contact {
  font-weight: bold;
}
